@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Tajawal&display=swap');

*{
    margin:0;
    padding:0;
}
body{
    background-color:orange;
}
footer{
    background-color:firebrick;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    border: none;
}
h3{
    padding: 20px;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}
p{
    font-family: 'Tajawal', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align:left;
    line-height: 60px;
    letter-spacing: 5px;
    word-spacing: 5px;
    color:black;
    background-color:chocolate;
    padding: 150PX;
    padding-right: 200px;
}
.chocolate{
    font-family: 'Tajawal', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align:left;
    line-height: 60px;
    letter-spacing: 5px;
    word-spacing: 5px;
    color:black;
    background-color:chocolate;
    padding: 0PX;
    padding-right: 305px;
}
.yerba{
    font-family: 'Tajawal', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align:left;
    line-height: 60px;
    letter-spacing: 5px;
    word-spacing: 5px;
    color:black;
    background-color:chocolate;
    padding: 0PX;
    padding-right: 305px;
}
h2{
    padding: 20PX;
}
.RIGTH{
    text-align: right;
    background-color:darksalmon;
}
.video{
    padding-left: 665PX;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:rgb(236, 124, 31);
    border-style: solid;
}
ul li{
    display: inline;
}
.icono{
    border: none;
}
.body{
    display: grid;
}
.contenedor{
    display: grid;
    margin: 0;
    width: 100%;
    display: 100px;
    padding: 0;
}
.tamañoImg{
    max-width: 100%;
}
#carouselExampleCaptions{
    padding-top: 2%;
    width: 70%;
    height: 50%;
    margin: 0 auto
}
.colorH5{
    color: rgb(253, 253, 253);
    font-size: xxx-large;
    font-weight: 4000;
}
.galeri{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 70%;
    height: 50%;
    margin: auto;
}
.maps{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 70%;
    height: 50%;
    margin: auto;
}
.seccMap{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 70%;
    height: 50%;
    margin: auto;
}
.textoDire{
    color: rgb(0, 0, 0);
    font-size: xxx-large;
    font-weight: auto;
}
#mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
    color: rgb(0, 0, 0);
    height: 400px;
    width: 450px;
    background-color: rgb(44, 44, 44);
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
}
